.btn {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #result {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #button-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  /* Style for the Quiz Result label */
  #result h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  #feedback-container {
    text-align: center;
  }
  
  #feedback {
    margin-bottom: 10px;
  }