/* Reset some default browser styles */
body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the whole page */
body {
  background-color: #0D1117;
  color: #C9D1D9;
  font-family: 'Lexend', Arial, sans-serif;
}

/* Light mode */
body:not(.dark-mode) {
  background-color: #ffffff;
  color: #000000;
}

/* Style headers */
h1, h2, h3 {
  color: #C9D1D9;
}

/* Light mode headers */
body:not(.dark-mode) h1, body:not(.dark-mode) h2, body:not(.dark-mode) h3 {
  color: #000000;
}

/* Style lists */
ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}
